<!DOCTYPE html>
<html lang="en" ng-app="myapp" ng-controller="quizController">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
 
    <title>Gamified LMS - Learn while you have fun</title>

    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/application.css" rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/css/agency.min.css" rel="stylesheet">        
    <link href="/css/myagency.css" rel="stylesheet">  


    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
  $( function() {
    $( ".source-bucket, .result-bucket" ).sortable({
      connectWith: ".connectedSortable"      
    }).disableSelection();
  } );
  </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

            <!-- Navigation -->
        <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-static-top header-nav" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Gamified Learning</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">40% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 2</strong>
                                        <span class="pull-right text-muted">20% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 3</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 4</strong>
                                        <span class="pull-right text-muted">80% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
        </nav>

    <div id="page-wrapper">        
        <div class="row">    
            <div class="col-lg-8">                        
                <div class="panel panel-default">
                    <div class="panel-heading bg-org">
                        QUIZ - Earn Badges!
                    </div>
                <div class="panel-body">
                    <div ng-repeat="question in data" ng-init="questionNum = $index">
                        <div ng-if="question.questiontype=='categories'" class="test-question-block">
                            <div class="row">                            
                                <div class="multiple-choice-question">
                                    {{$index+1}}) Drag the following items into the right categories.
                                </div>
                            </div>
                            <div class="row">
                                <ul class="connectedSortable source-bucket">
                                    <li type="button" class="btn btn-primary" ng-repeat="item in question.items">{{item}}</li>    
                                </ul>                                                     
                            </div>
                                

                            <div class="row">                            
                                <ul class="connectedSortable result-bucket" id="category_{{questionNum}}_{{$index}}" ng-repeat="category in question.categories">
                                  {{category}}
                                </ul>                            
                            </div>
                        </div>
                        
                        <div ng-if="question.questiontype == 'multiplechoice'" class="test-question-block">
                            <div class="row">
                                <div class="multiple-choice-question">
                                    {{$index+1}})&nbsp;{{ question.question }}
                                </div>
                            </div>
                            <div class="btn-group">
                                <label class="btn btn-default multiple-choice-option" style="border-radius:5px;">
                                    <input type="radio" ng-model="question.selectedanswer" ng-value="question.choices[0]">A) {{question.choices[0]}}
                                </label> 
                                <label class="btn btn-default multiple-choice-option" style="border-radius:5px;">
                                    <input type="radio" ng-model="question.selectedanswer" ng-value="question.choices[1]">B) {{question.choices[1]}}
                                </label>    
                                <label class="btn btn-default multiple-choice-option" style="border-radius:5px;">
                                    <input type="radio" ng-model="question.selectedanswer" ng-value="question.choices[2]">C) {{question.choices[2]}}
                                </label> 
                                <label class="btn btn-default multiple-choice-option" style="border-radius:5px;">
                                    <input type="radio" ng-model="question.selectedanswer" ng-value="question.choices[3]">D) {{question.choices[3]}}
                                </label> 
                            </div>                            
                        </div>

                        <div ng-if="question.questiontype == 'trueorfalse'" class="test-question-block">
                            <div class="row">
                                <div class="multiple-choice-question">
                                    {{$index+1}})&nbsp;{{ question.question }}
                                </div>                                                                
                            </div>                                                        
                            <div class="btn-group">
                                <label class="btn btn-default multiple-choice-option" style="border-radius:5px;">
                                    <input type="radio" ng-model="question.selectedanswer" value="true">True
                                </label>
                                <label class="btn btn-default multiple-choice-option" style="border-radius:5px;">
                                    <input type="radio" ng-model="question.selectedanswer" value="false">False
                                </label>
                            </div>                            
                        </div>
                        
                    </div>                                    
                    
                    <!--button type="button" ng-click="givemymodal()">Submit quiz</button-->
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Submit</button>
                    <!-- Modal -->
                    
                    <div id="myModal" class="modal fade" role="dialog">
                      <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Congratulations! You have earned a badge.</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <img class="img-responsive img-centered" src="/img/coursedetails/bronze.png" alt="">
                                    </div>
                                    <div class="col-sm-8" style="padding:20px;">

                                        <p>You have earned a new bronze badge.</p>
                                        <p>Share this on your profile!</p>
                                        <p>
                                            <a href="https://www.facebook.com/" target="_blank"><img src="/img/coursedetails/fb.png" width="40px" height="40px"></a>&nbsp;&nbsp;
                                            <a href="https://www.linkedin.com/" target="_blank"><img src="/img/coursedetails/link.png" width="40px" height="40px"></a>&nbsp;&nbsp;
                                            <a href="https://twitter.com/" target="_blank"><img src="/img/coursedetails/twitter.png" width="40px" height="40px"></a>
                                        </p>

                                    </div>
                                </div>
                                <div class="modal-footer">                                    
                                    <button type="button" class="btn btn-primary" ng-click="openNext()">Close &gt;&gt;</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    
                </div>                            
            </div>
        </div>
    </div>

    <script type="text/javascript">
        
        var app = angular.module('myapp', []);
        app.controller('quizController', function($http, $scope, $location, $timeout) {           
         $scope.quizId = <%- JSON.stringify(quizId) %>;
         $scope.courseId = <%- JSON.stringify(courseId) %>;
         $scope.moduleId = <%- JSON.stringify(moduleId) %>;
         $scope.userId = <%- JSON.stringify(userId) %>;
         $scope.coursename = <%- JSON.stringify(coursename) %>;  
                     
         $http({
                    method: 'GET',
                    url: '/assessment/'+$scope.quizId             
                    
                 }).success(function(response){                                                       
                      //alert(JSON.stringify(response[0].questions));                    
                      //$scope.data = response[0].questions;
                }).error(function(error){
                    alert("error");
                }); 

        /*$http({
                    method: 'GET',
                    url: '/pinkmonk'             
                    
                 }).success(function(response){                                                       
                      alert(JSON.stringify(response));                    
                      $scope.pinkys = response.pinky;
                      $scope.monkeys = response.monkey;
                }).error(function(error){
                    alert("error");
                }); 

            $scope.pinky = ["a","b","c"];
            $scope.monkey = ["1","2","3"];*/

        $scope.data = [{"questiontype":"categories","categories":["keywords","variables","datatypes"],"items":["int","area","length","class","help","float","else","desk","height"],"answer":[{"category":"keywords","items":["class","else","length"]},{"category":"variables","items":["help","desk","height","area"]},{"category":"datatypes","items":["int","float"]}]},
{"questiontype":"multiplechoice","question":"What is the minimum value of a byte?","choices":["-127","0","127","128"],"answer":"-127"},
{"questiontype":"trueorfalse","question":"There is no automatic garbage collection in Java.","answer":"false"}];


        $scope.openNext = function() {           
            window.$location = "/prjdflk";
        }

        $scope.validateQuiz = function() {                        
            var quizpassed = true;
            angular.forEach($scope.data, function(question,key){
                if(quizpassed == true) {
                    if(question.questiontype == "categories") {             
                        for(var cat=0; cat<question.categories.length; cat++) {                        
                            var ul = document.getElementById("category_"+key+"_"+cat); 
                            var categoryName = question.categories[cat];                             
                            var items = ul.getElementsByTagName("li");
                            var itemArray = [];
                            for (var i = 0; i < items.length; ++i) {
                                itemArray.push(items[i].innerHTML);
                            }
                            itemArray.sort();
                            
                            var answerArray = question.answer.filter(function(item) {
                                return item.category == categoryName;
                            })[0].items;

                            answerArray.sort();

                            //alert(JSON.stringify(itemArray));
                            //alert(JSON.stringify(answerArray));

                            var same = false;

                            if(itemArray.length == answerArray.length) {
                                same = true;   
                                for(var j=0; j<itemArray.length; j++) {                                    
                                    if(itemArray[j] != answerArray[j]) {
                                        same = false;
                                        break;
                                    }
                                }
                            }

                            if(!same) {
                                quizpassed = false;
                                break;
                            } 
                        }                                                        
                    }
                    else if(question.questiontype == "multiplechoice") {
                        if(question.answer != question.selectedanswer) {
                            quizpassed = false;                            
                        }
                    }
                    else if(question.questiontype == "trueorfalse") {
                        if(question.answer != question.selectedanswer) {
                            quizpassed = false;                            
                        }
                    }
                }
            });
            if(quizpassed == true) {
                alert("yay! you passed");
                $http({
                    method: 'POST',
                    url: '/course/'+$scope.courseId+'/module/'+$scope.moduleId+'/user/'+$scope.userId             
                    
                 }).success(function(response){                                 
                      $scope.completed = response;
                }).error(function(error){
                    alert("error");
                });                    
            }
            else {
                alert("oops! try again");
            }            
        }                
    });

        
        
    </script> 
</body>
</html>